.container
{
    margin-top: 60px;
    width: 90%
}


.text-center
{
    text-align: center;
}

/* Non-default style for navbar */
.navbar-inverse
{
    background-color: #6EC5B8;
    border-color: #21B6A8;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #21B6A8;
}

.navbar-inverse .navbar-brand
{
    color: white;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a
{
    color: white;
}

.green {
    color: green;
}
.red {
    color: red
}
.gray {
    color: gray;
}